<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flatiron Widgets Admin</title>
  </head>
  <body>
    <div class="navigation">
      <h1>Flatiron Widgets: Admin</h1>
    </div>
    <%= yield %>
  </body>
</html>
